.headStyle{
    margin-left: 650px;
    margin-top: 50px;
    color: blue;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formStyle{
    margin-left: 400px;
    margin-top: 60px;
    border:0cm;
   
}

.formStyle1{
    font-size: 18px;
  
}
.bgColor{
    height: 45px;
    margin-bottom: 10px;
}
.btn1{
    margin-left: 250px;
    height: 50px;
    width: 180px;
    margin-top: 30px;
    border-radius: 0.5cm;
    background-color: blue;
    font-size: 20px;

}