<div class="container text-center">
    <div class="row">
        <div class="col-sm-3">A wiki enables communities of editors and contributors to write documents collaboratively.
            All that people require to contribute is a computer, Internet access, a web browser, and a basic
            understanding of a simple markup language (e.g. MediaWiki markup language). A single page in a wiki website
            is referred to as a "wiki page", while the entire collection of pages, which are usually well-interconnected
            by hyperlinks, is "the wiki". A wiki is essentially a database for creating, browsing, and searching through
            information. A wiki allows non-linear, evolving, complex, and networked text, while also allowing for editor
            argument, debate, and interaction regarding the content and formatting.[10] A defining characteristic of
            wiki technology is the ease with which pages can be created and updated. Generally, there is no review by a
            moderator or gatekeeper before modifications are accepted and thus lead to changes on the website. Many
            wikis are open to alteration by the general public without requiring registration</div>
        <div class="col-sm-9">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>